<br>
<br>
<div class="staff-head" align="center">
  <h1 [innerHTML]="staffHeading"></h1>
  <form name="myForm" (ngSubmit)="getStaffType(staffType)">
    <label for="StaffSelect"> Select Staff : </label>
    <select name="StaffStaff" [(ngModel)]="staffType">
      <option value="admin">Administrative Staff</option>
      <option value="teaching">Teaching Staff</option>
      <option value="support">Supporting Staff</option>
    </select>

    <button type="submit" class="load">Load</button>
  </form>

</div>
<br>

<hr><br><br><br>

<div>
  <table>
    <thead>
      <tr>
        <th *ngFor="let header of headers">
          {{header}}
        </th>
      </tr>
    </thead>

    <tbody *ngIf="staffs">
      <tr *ngFor="let val of staffs ; let i = index " (click)="getLog(val.empId)">
        <td>{{i+1}}</td>
        <td>{{val.empId}}</td>
        <td>{{val.name}}</td>
        <td>{{val.phone}}</td>
        <td>{{val.email}}</td>
        <td>{{val.dob | date}}</td>
        <td *ngIf="type == 'admin'">{{val.administrativeStaff[0].designation}}</td>
        <td *ngIf="type == 'teaching'">{{val.teachingStaff[0].subject}}</td>
        <td *ngIf=" type=='support'">{{val.supportingStaff[0].department}}</td>
      </tr>
    </tbody>
  </table>
</div>
<app-notification></app-notification>
