<div class="main" *ngIf="staffType">
  <div align="center">
    <h1 [innerHTML]="heading"></h1>
    <select id="Staff" [(ngModel)]="staffType" [ngModelOptions]="{standalone: true}"
      [disabled]="!selectEditable"><br><br>
      <option value="admin">Administrative Staff</option>
      <option value="teaching">Teaching Staff</option>
      <option value="support">Supporting Staff</option>
    </select>
    <br><br>
    <div *ngIf="deleteBtnVisibility == true">
      <button class="delete" (click)="DeleteStaff()">Delete</button>
    </div>
  </div>
  <hr>
  <br>
  <form class="register-form">

    <label>Employee Id :</label><br>
    <input type="text" id="IEmpId" [(ngModel)]="EmpId" [ngModelOptions]="{standalone :true}"
      [disabled]="!selectEditable" /><br><br>
    <label>Name :</label><br>
    <input type="text" id="IName" [(ngModel)]="Name" [ngModelOptions]="{standalone :true}" />
    <br><br>
    <label>Email :</label><br>
    <input type="text" id="IEmail" [(ngModel)]="Email" [ngModelOptions]="{standalone :true}" /><br><br>
    <label>Phone :</label><br>
    <input type="text" id="IPhone" [(ngModel)]="Phone" [ngModelOptions]="{standalone :true}" /><br><br>
    <label>Date of Birth : {{Dob | date}}</label><br>
    <input type="date" id="IDob" [(ngModel)]="Dob" [ngModelOptions]="{standalone :true}" /><br><br>

    <div id=" SpecificFields">
      <label id="LDesignation" *ngIf="staffType == 'admin'">Designation :</label>
      <input type="text" id="IDesignation" *ngIf="staffType == 'admin'" [(ngModel)]="Designation"
        [ngModelOptions]="{standalone :true}" />
      <label id="LDesignation" *ngIf="staffType == 'teaching'">Subject :</label>
      <input type="text" id="IDesignation" *ngIf="staffType == 'teaching'" [(ngModel)]="Subject"
        [ngModelOptions]="{standalone :true}" />
      <label id="LDesignation" *ngIf="staffType == 'support'">Department :</label>
      <input type="text" id="IDesignation" *ngIf="staffType == 'support'" [(ngModel)]="Department"
        [ngModelOptions]="{standalone :true}" />
    </div>

    <button type="button" (click)="getValues()" id="registerSubmit" class="registerSubmit"
      [innerHTML]="btntext"></button><br>


  </form>
</div>
